<!-- ===== Footer Start ===== -->
<footer class="site-footer">
    <div class="container footer-container">
  
      <div class="footer-column">
        <h4>Reach Us</h4>
        <p>
          LNCT Campus Kalchuri Nagar,<br>
          P.O. Koula Raise Road,<br>
          Bhopal - 462022 (M.P.)
        </p>
  
        <div class="social-icons">
          <a href="https://x.com/lnct_group" target="_blank"><img src="/static/uploads/images/twitter.webp" alt="Twitter" /></a> 
          <a href="https://www.instagram.com/lnctgroupofcolleges/?hl=en" target="_blank"><img src="/static/uploads/images/insta.jpg" alt="Instagram" /></a> 
          <a href="https://www.facebook.com/IIC-LNCTS-105757794268242/" target="_blank"><img src="/static/uploads/images/facebook.png" alt="Facebook" /></a> 
          <a href="https://www.facebook.com/IIC-LNCTS-105757794268242/" target="_blank"><img src="/static/uploads/images/youtube.jpg" alt="YouTube" /></a> 
        </div>
      </div>
  
      <div class="footer-column">
        <h4>Contact</h4>
        <p><a href="mailto:contact@lncts.in">contact@lncts.in</a><br>
        7440777111</p>
      </div>
  
      <div class="footer-column">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="https://lnct.ac.in" target="_blank">LNCT Group</a></li>
          <li><a href="contact/contact.html">Contact Us</a></li>
          <li><a href="https://lnct.ac.in/privacy-policy-2/">Privacy Policy</a></li>
        </ul>
      </div>
  
    </div>
  
    <div class="footer-bottom">
      <p>Copyright © 2025 LNCT & S | Powered by LNCT Group of Colleges</p>
    </div>
  </footer>
  <!-- ===== Footer End ===== -->  