<link rel="stylesheet" href="/static/styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<script defer src="/static/js/script.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
  
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up</h2>
  <form action="/signin" method="POST">
    <label for="name">Full Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="confirm_password">Confirm Password:</label><br>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>
    <button type="submit">Sign Up</button><br><br>
    
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    
  </form>
  <p>Already have an account? <a href="/login">Login here</a></p>

  {% endblock %}
</body>
</html>
